﻿@using DisplayDataUsingActionMethod.Models
@* using directives *@
@{
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Emp emp in Model)
            {
                <tr>
                    <td>@emp.Id</td>
                    <td>@emp.Name</td>
                    <td>@emp.Address</td>
                </tr>
            }
        </tbody>
    </table>

}
